.status {
  background-color: rgb(197, 197, 235);
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.statusSelect {
  background-color: rgb(115, 115, 217);
}
.operatorSelect {
  background-color: rgb(115, 115, 217);
  border: 1px solid rgb(115, 115, 217);
}
.status > p {
  padding: 0;
  margin: 0;
}
.statusRole {
  font-size: 9px;
}
.status:hover {
  background-color: rgb(50, 50, 122);
  color: wheat;
}
.statusTitle {
  font-size: 12px;
}
.operator {
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 5px;
}
.operatorName {
  font-size: 12px;
  padding: 0;
  margin: 0;
}
.operatorStatus {
  padding: 0;
  margin: 0;
  font-size: 9px;
}
.btnbutton {
  width: 100%;
  border: none;
  padding: 5px 0px;
  margin: 0;
  border-radius: 5%;
}
.btnbutton:hover {
  background-color: rgb(115, 115, 217);
}
.contained {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contained > div {
  width: 70%;
}
