.role{
    background-color: #dedede;
    padding: 2px;
    font-size: 12px;
    font-weight: bolder;
}

.analyse{
    height: 10vh;
    margin-left: 10px;
}
.name{
    font-size: 11px;
    padding: 0px;
    margin: 3px;
}